.post {
    margin: 40px 0;
}

.post-top {
    background-color: $secondaryColor;
}

.post-comments {
    background-color: rgb(235, 235, 235);
}
.post-comment {
    background-color: rgb(235, 235, 235);
}


.like-area {
    li{
        &.-active {
            color: $red; 
        }
    }
}
