<md-toolbar layout="row" layout-align="space-around center">
    <div layout="row">
        <h1><a ng-href="/home">WhyNotRun</a></h1>
    </div>
    <div class="search-form" flex="60">
        <form>
            <md-input-container layout="row">
                <input type="text">
                <i class="material-icons">search</i>
            </md-input-container>
        </form>
    </div>
    <div class="nav-menu" layout="row" layout-align="center center">
        <a ng-href="/tecnologies">Técnologias</a>
        <a ng-href="/login">Login</a>
        <a ng-href="/register">Cadastrar</a>
    </div>
</md-toolbar>
<div class="content" layout="row">
    <md-content flex layout-padding>
        <div ui-view>
        </div>
    </md-content>
</div>