<md-toolbar layout="row" layout-align="space-around center">
    <div layout="row">
        <h1><a ui-sref="home.feed">WhyNotRun</a></h1>
    </div>
    <div class="search-form" flex="60">
        <form>
            <md-input-container layout="row">
                <input type="text" aria-label="Search bar">
                <i class="material-icons">search</i>
            </md-input-container>
        </form>
    </div>
    <div class="nav-menu" layout="row" layout-align="center center">
        <a ui-sref="home.tenologies">Técnologias</a>
        <a ui-sref="login" ng-hide="user.logged">Login</a>
        <a ui-sref="register" ng-hide="user.logged">Cadastrar</a>
        <a ng-show="user.logged">Sair</a>
    </div>
</md-toolbar>
<div class="content" layout="row">
    <md-content flex layout-padding>
        <div ui-view>
        </div>
    </md-content>
</div>