<md-toolbar layout="row" layout-align="space-between center">
    <div layout="row" flex layout-align="start baseline">
        <h1>WhyNotRun</h1>
        <p><a href="#">Técnologias</a></p>
    </div>
    <div class="search-form">
            <form>
                <md-input-container layout="row">
                    <input type="text">
                    <i class="material-icons">search</i>
                </md-input-container>
            </form>
        </div>
    <div layout="row" layout-align="center center">
        <a href="#">Login</a>
        <a href="#">Cadastrar</a>
    </div>
</md-toolbar>
<div class="content" layout="row">
    <!-- <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="1">
        <ul class="sidenav-menu">
            <li>
                <a ui-sref="home.feed">
                    <button>Feed</button>
                </a>
            </li>
            <li>
                <a ui-sref="home.profile">
                    <button>
                        Perfil
                        <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                </a>
                <a ui-sref="home.edit">
                    <button>
                        Edit Perfil
                        <i class="material-icons">keyboard_arrow_down</i>
                    </button>
                </a>
            </li>
            <li>
                <a ui-sref="home.friends">
                    <button>
                        Amigos
                    </button>
                </a>
            </li>
            <li>
                <a ui-sref="home.groups">
                    <button>
                        Grupos
                    </button>
                </a>
            </li>
            <li>
                <a ui-sref="home.group">
                    <button>
                        Grupo
                    </button>
                </a>
            </li>
        </ul>
    </md-sidenav> -->

    <md-content flex layout-padding>
        <div ui-view>
        </div>
    </md-content>
</div>