<div class="post" md-whiteframe="4">
    <!-- <div class="post-top" layout="row" layout-align="space-between center" layout-padding>
        <div class="post-user-data" layout="row" layout-align="start center">
            <img src="https://lh3.googleusercontent.com/-ccUXue8amts/AAAAAAAAAAI/AAAAAAAAAAA/ANQ0kf7tDweCD8gC3eMqG4om8aNvzjsDnQ/s96-c-mo/photo.jpg"
                alt="Avatar" class="avatar">
            <h3>Username</h3>
        </div> -->
    <md-card class="post-comments no-margin" layout-padding>
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" src="https://lh3.googleusercontent.com/-ccUXue8amts/AAAAAAAAAAI/AAAAAAAAAAA/ANQ0kf7tDweCD8gC3eMqG4om8aNvzjsDnQ/s96-c-mo/photo.jpg"
                />
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">User</span>
                <span class="md-subhead">Proffesion</span>
            </md-card-header-text>
            <div layout="column">
                <span>Pontos: 234</span>
                <span>Posted: 1 day</span>
            </div>

        </md-card-header>
    </md-card>
    <div class="chips">
        <md-chips>
            <md-chip>Teste</md-chip>
            <md-chip>Pringles</md-chip>
            <md-chip>Doritos</md-chip>
        </md-chips>
    </div>

    <!-- </div> -->
    <div class="post-content" layout-padding>
        <h3>Titulo postagem</h3>
        <p>Texto da postagem inicial</p>
        <div>
            <ul layout="row" class="like-area">
                <li layout="row" layout-align="center center" ng-click="activeIcon(1)" ng-class="{'-active' : isActive(1)}"><i class="material-icons" >whatshot</i>123</li>
                <li layout="row" layout-align="center center" ng-click="activeIcon(2)" ng-class="{'-active' : isActive(2)}"><i class="material-icons" >ac_unit</i> 122</li>
                <li><i class="material-icons">face</i></li>
            </ul>
        </div>

    </div>
    <md-card class="post-comments" layout-padding>
        <md-card-header>
            <md-card-avatar>
                <img class="md-user-avatar" src="https://lh3.googleusercontent.com/-ccUXue8amts/AAAAAAAAAAI/AAAAAAAAAAA/ANQ0kf7tDweCD8gC3eMqG4om8aNvzjsDnQ/s96-c-mo/photo.jpg"
                />
            </md-card-avatar>
            <md-card-header-text>
                <span class="md-title">User</span>
                <span class="md-subhead">subhead</span>
            </md-card-header-text>
        </md-card-header>
        <md-card-content>
            <p>Comentario do mano</p>
        </md-card-content>
    </md-card>
    <div class="post-comment" layout-padding>
        <md-input-container layout="row" layout-align="start end">
            <img src="https://lh3.googleusercontent.com/-ccUXue8amts/AAAAAAAAAAI/AAAAAAAAAAA/ANQ0kf7tDweCD8gC3eMqG4om8aNvzjsDnQ/s96-c-mo/photo.jpg"
                alt="Avatar" class="avatar">
            <input type="text">
        </md-input-container>
    </div>
</div>