<div class="page-title">
    <h1>Editar perfil</h1>
</div>

<div class="container">
    <div md-whiteframe="4" layout-padding>
        <header layout="row" layout-align="space-between center">
            <label>Editar dados</label>
            <md-button>Salvar</md-button>
        </header>
        <form action="" layout="row" layout-align="space-around center">
            <md-input-container>
                <input type="text" placeholder="Nome">
            </md-input-container>
            <md-input-container>
                <input type="text" placeholder="Sobrenome">
            </md-input-container>
            <md-input-container>
                <input type="text" placeholder="Email">
            </md-input-container>
        </form>
    </div>
    <div class="margin-top" md-whiteframe="4" layout-padding>
            <header layout="row" layout-align="space-between center">
                <label>Editar senha</label>
                <md-button>Salvar</md-button>
            </header>
            <form action="" layout="row" layout-align="space-around center">
                <md-input-container>
                    <input type="text" placeholder="Senha atual">
                </md-input-container>
                <md-input-container>
                    <input type="text" placeholder="Nova senha">
                </md-input-container>
                <md-input-container>
                    <input type="text" placeholder="Confirmar senha">
                </md-input-container>
            </form>
        </div>
</div>