<div class="title">
    <h2>Técnologias</h2>
</div>

<div class="tech-filters">
    <nav layout="row" layout-align="end end">
        <ul layout="row">
            <li>Nome</li>
            <li>Pontos</li>
            <li>Posts</li>
        </ul>
    </nav>
</div>
<div md-whiteframe="1">
    <div class="container techies-list" layout="row" layout-align="space-between center">
        <div class="tech" layout="row" layout-align="space-around center" flex="20" md-whiteframe="1">
            <div layout="row" layout-align="center center" flex="40">
                <h2>1º</h2>
            </div>
            <div class="tech-rank" layout="column" flex="60">
                <h3>Javascript</h3>
                <p>Pontos: 1253 np</p>
                <p>Posts: 100 posts</p>
            </div>
        </div>
        <div class="tech" layout="row" layout-align="space-around center" flex="20" md-whiteframe="1">
            <div layout="row" layout-align="center center" flex="40">
                <h2>1º</h2>
            </div>
            <div class="tech-rank" layout="column" flex="60">
                <h3>Javascript</h3>
                <p>Pontos: 1253 np</p>
                <p>Posts: 100 posts</p>
            </div>
        </div>
        <div class="tech" layout="row" layout-align="space-around center" flex="20" md-whiteframe="1">
            <div layout="row" layout-align="center center" flex="40">
                <h2>1º</h2>
            </div>
            <div class="tech-rank" layout="column" flex="60">
                <h3>Javascript</h3>
                <p>Pontos: 1253 np</p>
                <p>Posts: 100 posts</p>
            </div>
        </div>
        <div class="tech" layout="row" layout-align="space-around center" flex="20" md-whiteframe="1">
            <div layout="row" layout-align="center center" flex="40">
                <h2>1º</h2>
            </div>
            <div class="tech-rank" layout="column" flex="60">
                <h3>Javascript</h3>
                <p>Pontos: 1253 np</p>
                <p>Posts: 100 posts</p>
            </div>
        </div>
        <div class="tech" layout="row" layout-align="space-around center" flex="20" md-whiteframe="1">
            <div layout="row" layout-align="center center" flex="40">
                <h2>1º</h2>
            </div>
            <div class="tech-rank" layout="column" flex="60">
                <h3>Javascript</h3>
                <p>Pontos: 1253 np</p>
                <p>Posts: 100 posts</p>
            </div>
        </div>
        <div class="tech" layout="row" layout-align="space-around center" flex="20" md-whiteframe="1">
            <div layout="row" layout-align="center center" flex="40">
                <h2>1º</h2>
            </div>
            <div class="tech-rank" layout="column" flex="60">
                <h3>Javascript</h3>
                <p>Pontos: 1253 np</p>
                <p>Posts: 100 posts</p>
            </div>
        </div>
        <div class="tech" layout="row" layout-align="space-around center" flex="20" md-whiteframe="1">
            <div layout="row" layout-align="center center" flex="40">
                <h2>1º</h2>
            </div>
            <div class="tech-rank" layout="column" flex="60">
                <h3>Javascript</h3>
                <p>Pontos: 1253 np</p>
                <p>Posts: 100 posts</p>
            </div>
        </div>
        <div class="tech" layout="row" layout-align="space-around center" flex="20" md-whiteframe="1">
            <div layout="row" layout-align="center center" flex="40">
                <h2>1º</h2>
            </div>
            <div class="tech-rank" layout="column" flex="60">
                <h3>Javascript</h3>
                <p>Pontos: 1253 np</p>
                <p>Posts: 100 posts</p>
            </div>
        </div>
        <div class="tech" layout="row" layout-align="space-around center" flex="20" md-whiteframe="1">
            <div layout="row" layout-align="center center" flex="40">
                <h2>1º</h2>
            </div>
            <div class="tech-rank" layout="column" flex="60">
                <h3>Javascript</h3>
                <p>Pontos: 1253 np</p>
                <p>Posts: 100 posts</p>
            </div>
        </div>
    </div>


</div>